.leftInput{
    width: max(10%,240px);
}
.rightInput{
    width: max(10%,510px);
}

input[type="text"]{
    padding: 0.6rem;
    background: #FFFFFF;
    border: 0.25px solid #373737;
    border-radius: 6px;
}
input[type="email"]{
    padding: 0.6rem;
    background: #FFFFFF;
    border: 0.25px solid #373737;
    border-radius: 6px;
}

textarea{
    height:7rem;
    width: auto;
    background: #FFFFFF;
    border: 0.25px solid #373737;
    border-radius: 6px;
}

button{
color: #ec0009;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 16%;
  width: 16%;
  margin-inline: auto;
  margin-top: 2rem;
  cursor: pointer;
  border: 3px solid #dd2b21;
  border-radius: 6px;
 
}


button:hover{
    border-radius: 15px;
    transition: 0.4s;
}

button:active{
    color: #ec0009;
}


