

@font-face {
    font-family: 'leferi';
    src: url('../fonts/LeferiBaseRegular.otf') format('opentype');
}

.services_tab{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 1000px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    object-fit: fill;


}
.service1{
    width: 25%;


}
.service2{
    width: 25%;

}